extends layout

block content
    h1 Willkommen #{title}
    p 
        | Dies is das admin interface.
        br 
        | Füge hier ein angebot hinzu.
    br
    input(type="button", value="Neues Angebot!")
